@{
    ViewData["Title"] = "Home Page";
}
<input size="40" id="val1" type="number" />
<input size="40" id="val2" type="number"/>
<button onclick=simplePost(+document.getElementById("val1").value,+document.getElementById("val2").value)>Сложить</button> 